# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build
dist/
dist-ssr/
.vite/

# Environment variables
.env
.env.*

# Testing / coverage
coverage/
.nyc_output/
test-results/
playwright-report/

# Cache / temporary / assets
.cache/
.tmp/
temp/
*.tmp
src/assets/

# Editor directories and files
.vscode/*
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?